NEXT_PUBLIC_SUPABASE_URL=https://gemqxxayrjyrbvcnxrlp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdlbXF4eGF5cmp5cmJ2Y254cmxwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI1MTE0MTEsImV4cCI6MjA2ODA4NzQxMX0.hf8eN3cld0ZexBJIZR5Reme-cSMzNW0FEbCqNnsRQu4
EDENAI_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiYjZlYjZjNjQtOTAwNC00NTYwLWExYTYtMDRjZGM2Mzg0MDZkIiwidHlwZSI6ImFwaV90b2tlbiJ9.H2iyUKxn8JKr9pWya8vzCIH6GyOZdxMB4hLjlg0EjM4
SERPAPI_KEY=02110bcd72a29a1f075d775299c6ae142fdfa382e11228084018866bbba619df
SCALESERPAPI_KEY=03978604517C4792919AF7CD7012EB70
